/* src/pages/PlaylistPage.css */
/* .playlist-page {
  padding: 20px;
} */

/* .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-header button {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section-header button:hover {
  background-color: #218838;
} */

/* .playlist-list {
  list-style: none;
  padding: 0;
}

.playlist-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.song-list {
  list-style: none;
  padding: 0;
}

.song-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.song-item div {
  flex: 1;
} */